<div class ='container'>
    <br/>
    <div class="card">
        <div class="card header text-white bg-secondary">
            <h5>Déclarer un problème</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <h5>Veuillez renseigner les zones suivante et soumettre votre demande </h5>
                <form class="form-horizontal" 
                novalidate 
                (ngSubmit)="save()"
                [formGroup]="problemeForm">
                <div class="form-group row">
                    <label for="prenomId" class="col-sm-2 col-form-label text-right" >Prénom:</label>
                    <div class="col-sm-10">
                    <input class="form-control" 
                    id="prenomId" 
                    type="text" 
                    placeholder="Votre prénom ici (obligatoire)" 
                    formControlName="prenom"            
                    [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (problemeForm.get('prenom').valid),
                    'is-invalid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (!problemeForm.get('prenom').valid )}"/>           
                    <span class="form-text" *ngIf="(problemeForm.get('prenom').touched||
                    problemeForm.get('prenom').dirty)&&
                    problemeForm.get('prenom').errors">
                        <span *ngIf="!problemeForm.get('prenom').errors.longueurMinimum">
                            <small class="text-muted">
                            Veuillez entrer plus de caractère.
                            </small>
                        </span>
                        <span *ngIf="problemeForm.get('prenom').errors.required">
                            <small class="text-muted">
                            Merci de saisir votre prénom.
                            </small>
                        </span>
                        
                    </span>
                    </div>
                </div>
                    <div class="form-group row">
                    <label for="nomId" class="col-sm-2 col-form-label text-right" >Nom:</label>
                    <div class="col-sm-10">
                    <input class="form-control" 
                    id="nomId" 
                    type="text" 
                    placeholder="Votre nom ici (obligatoire)" 
                    formControlName="nom"            
                    [ngClass]="{'is-valid': (problemeForm.get('nom').touched || 
                    problemeForm.get('nom').dirty) &&
                    (problemeForm.get('nom').valid),
                    'is-invalid': (problemeForm.get('nom').touched || 
                    problemeForm.get('nom').dirty) &&
                    (!problemeForm.get('nom').valid )}"/>           
                    <span class="form-text" *ngIf="(problemeForm.get('nom').touched||
                    problemeForm.get('nom').dirty)&&
                    problemeForm.get('nom').errors">
                        <span *ngIf="!problemeForm.get('nom').errors.longueurMaximum && !problemeForm.get('nom').errors.required">
                            <small class="text-muted">
                            Veuillez entrer moins de caractères.
                            </small>
                        </span>
                        <span *ngIf="problemeForm.get('nom').errors.required">
                            <small class="text-muted">
                            Merci de saisir votre nom de famille.
                            </small>
                        </span>
                        
                    </span>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label for="TypeProblemeId" class="col-md-2 col form-label text-right">Type de problème :</label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                id="TypeProblemeId"
                                formControlName="typeProbleme"
                                [ngClass]="{'is-valid': (problemeForm.get('typeProbleme').touched || 
                                problemeForm.get('typeProbleme').dirty) &&
                                (problemeForm.get('typeProbleme').valid),
                                'is-invalid': (problemeForm.get('typeProbleme').touched || 
                                problemeForm.get('typeProbleme').dirty) &&
                                (!problemeForm.get('typeProbleme').valid )}">
                                


                                    <option value="">Sélectionner un type de problème (obligatoire)...</option>
                                    <option *ngFor="let cat of typesProblemes " [value]="cat.id">{{cat.descriptionTypeProbleme}}</option>
                                
                                    
                            </select>
                            <span  *ngIf="(problemeForm.get('typeProbleme').touched||
                                    problemeForm.get('typeProbleme').dirty)&&
                                    problemeForm.get('typeProbleme').errors">
                                    
                                        <span *ngIf="problemeForm.get('typeProbleme').errors.required">
                                            <small class="text-muted">
                                            Merci de selectionner un type de problème.
                                            </small>
                                        </span>
                                    </span>
                            
                        </div>
                    </div>

                
                </form>
            </div>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</div>