<div class ='container'>
    <br/>
    <div class="card">
        <div class="card header text-white bg-secondary">
            <h5>Déclarer un problème</h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <h5>Veuillez renseigner les zones suivante et soumettre votre demande </h5>
                <form class="form-horizontal" 
                novalidate 
                (ngSubmit)="save()"
                [formGroup]="problemeForm">
                <div class="form-group row">
                    <label for="prenomId" class="col-sm-2 col-form-label text-right" >Prénom:</label>
                    <div class="col-sm-10">
                    <input class="form-control" 
                    id="prenomId" 
                    type="text" 
                    placeholder="Votre prénom ici (obligatoire)" 
                    formControlName="prenom"            
                    [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (problemeForm.get('prenom').valid),
                    'is-invalid': (problemeForm.get('prenom').touched || 
                    problemeForm.get('prenom').dirty) &&
                    (!problemeForm.get('prenom').valid )}"/>           
                    <span class="form-text" *ngIf="(problemeForm.get('prenom').touched||
                    problemeForm.get('prenom').dirty)&&
                    problemeForm.get('prenom').errors">
                        <span *ngIf="problemeForm.get('prenom').errors.minlength">
                            <small class="text-muted">
                            Veuillez entrer plus de caractère.
                            </small>
                        </span>
                        <span *ngIf="problemeForm.get('prenom').errors.required">
                            <small class="text-muted">
                            Merci de saisir votre prénom.
                            </small>
                        </span>
                        
                    </span>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</div>